.App {
    font-family: 'Roboto', sans-serif;
}
.App-header {
    background-color: #0fb9b1;
    height: 50px;
    padding: 20px;
    color: white;
    text-align: center;
}

.App-title {
    font-size: 1.5em;
    line-height: 50px;
    margin: 0;
    padding: 0;
}

.App-body {
    width: 50%;
    margin: auto;
}

@media only screen and (max-width: 460px) {
    .App-body {
        width: calc(100% - 20px);
    }
}
